        body {
            margin-top: 10px;
        }
        .image {
            position: fixed;
            border: 2px solid #5c5c5c;
            border-radius: 25px;
            height: 40px;
            width: 40px;
            left: 0;
            top: 0;
        }
        .image img {
            margin: 0;
            position: fixed;
        }
