        body {
            margin-top: 10px;
        }
        .image {
            position: relative;
            border: 2px solid #5c5c5c;
            border-radius: 25px;
            height: 40px;
            width: 40px;
        }
        
        .image img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            }
