        body {
            margin-top: 10px;
        }
        .image {
            position: relative;
            border: 2px solid #5c5c5c;
            border-radius: 25px;
            height: 40px;
            width: 40px;
        }
        
        .image img {
            margin-left: 0;
            position: absolute;
            left: 0px;
            }
